<div class="container">
  <div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="col-md-12">
        <div class="login-box-container">
          <div class="login-inner-box">
            <h3 style="text-align: center;"><p>Sign In</p></h3><br>
            <label for="email">Email: </label><br>
            <input 
            type="email" 
            id="email" 
            class="form-control"  
            formControlName="email">
            <span 
            class="help-block" 
            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
            Please enter a valid Email ID!</span><br>
            <label for="password">Password: </label><br>
            <input 
            type="password" 
            id="password" 
            class="form-control" 
            formControlName="password">
            <span 
            class="help-block" 
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
            Please enter a password!</span><br>
          </div>
          <div class="login-inner-box">
            <button 
            class="btn btn-success" 
            type="submit" 
            [disabled]="!loginForm.valid">Login</button><br><br>
            <hr class="hr-text" data-content="OR">
            <br>
            <p style="text-align: center;">Are you here for the first time? 
              <a [routerLink]="['/register']">Register Here!</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>