<div class="row">
  <div class="col-xs-12">
    <div class="flex-container">
      <div class="flex-container-in">
        <label for="openedAccounts">Choose the type of account you want to open or select your account: </label>
      </div>
      <div class="flex-container-in-bottom">
        1
      </div>
      <ul class="nav buttons-cust">
        <li><button class="btn btn-primary">Open FD</button></li><br><br><br><br><br><br>
        <li><button class="btn btn-primary">Open RD</button></li>
      </ul>
    </div>
  </div>
</div>